/* MAIN CSS FILE
Author: David Wehrlin
Purpose: Styling for html webpage
*/
html {
    scroll-behavior: smooth;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.25rem;
    color: black;
}

h1,
h2,
h3{
    font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-weight: 700;
    text-transform: uppercase;
    color: #343a40;
    margin: 20px;
    border: 0;
    display: flex;

}

h1 {font-size: 4rem;}
h2 {font-size: 2rem;}
h3 {font-size: 1.25rem;font-weight: 900;}

.sidebar {
    top: 0px;
    left: 0px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 250px;
    height: 100vh;
    background-color: mediumseagreen;
}
.sidebar img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 50%;
}
.sidebar a{
    opacity: 75%;
    text-decoration: none;
    padding: 10px;
    font-weight: bolder;
    color: white;
}
.sidebar a.active {
    opacity: 100%;
    background-color: mediumseagreen;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    opacity: 100%;
    background-color: seagreen;
    color: white;
  }
  
.content {
    margin-left: 275px;
    background-color: white;
}
.content section {min-height: 100vh;}
.content header {margin-top:35vh;min-height: 65vh;}

.contact-icons a {
    color: black;
    margin: 10px;
    text-decoration: none;
}

@media screen and (max-width: 900px) {
    .sidebar {
        position: relative;
        width: 100%;
        height: auto;
        text-align: center;
    }

    h1 {
        text-align: center;
    }

    .sidebar img {height: 125px;width: 125px;}
    .content {margin: 0; margin-top: -35vh;}

}

@media screen and (max-width: 500px) {
    .sidebar {
        position: relative;
        width: 100%;
        height: auto;
        flex-direction: column;
        text-align: center;
    }
    h1 {
        text-align: center;
    }

    .sidebar img {display: none;}
    .content {margin: 0; margin-top: -35vh;}
}

